<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.titan.jnly">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_LOGS" />


    <!--热更新权限-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".system.App"
        android:allowBackup="true"
        android:icon="@drawable/icon_slzycxjs"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/ATEAppTheme">

        <activity android:name=".main.ui.aty.MainActivity" />
        <activity android:name=".invest.ui.aty.InvestActivity" />
        <activity android:name=".patrol.ui.aty.PatrolCureActivity" />
        <activity android:name=".examine.ui.aty.ExamineAty" />
        <activity android:name=".examine.ui.aty.DataListAty" />
        <activity android:name=".examine.ui.aty.DataScanAty" />
        <activity android:name=".vector.ui.aty.SingleEditActivity" />
        <activity android:name=".vector.ui.aty.SimpleAddAty" />
        <activity android:name=".invest.ui.aty.DataSyncAty" />
        <activity android:name=".invest.ui.aty.DataSyncAtyV1" />

        <activity android:name=".patrol.ui.aty.PatrolListAty" />
        <activity android:name=".patrol.ui.aty.PatrolItemAty" />
        <activity android:name=".patrol.ui.aty.CureListAty" />
        <activity android:name=".patrol.ui.aty.CureItemAty" />

        <!--新版本-->
        <activity android:name=".patrolv1.ui.aty.ConserveDesignAty" />
        <activity android:name=".patrolv1.ui.aty.ConserveDesignListAty" />
        <activity android:name=".patrolv1.ui.aty.ConserveTaskAty" />
        <activity android:name=".patrolv1.ui.aty.ConserveTaskListAty" />
        <activity android:name=".patrolv1.ui.aty.PatrolLogAty" />
        <activity android:name=".patrolv1.ui.aty.PatrolLogListAty" />
        <activity android:name=".patrolv1.ui.aty.PatrolMsgAty" />
        <activity android:name=".patrolv1.ui.aty.PatrolMsgListAty" />
        <activity android:name=".patrolv1.ui.aty.PatrolTaskAty" />
        <activity android:name=".patrolv1.ui.aty.PatrolTaskListAty" />


        <activity android:name="com.lib.bandaid.widget.collect.image.CollectImgAty" />
        <activity android:name="com.lib.bandaid.widget.pick.ImgPickActivity" />
        <activity android:name=".demo.DemoActivity" />


        <activity android:name=".login.ui.aty.LoginAty">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".main.ui.aty.MainFaceAty" />

        <activity android:name=".hardware.ui.aty.HardWareAty" />


        <!--zy: 服务注册-->
        <service android:name="com.lib.bandaid.service.imp.LocService" />
        <service android:name="com.lib.bandaid.service.imp.TraceService" />
        <!--看门狗服务-->
        <receiver
            android:name="com.lib.bandaid.service.dog.WakeReceiver"
            android:process=":watch">
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
                <action android:name="com.titan.bandaid.service.CANCEL_JOB_ALARM_SUB" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.lib.bandaid.service.dog.WakeReceiver$WakeUpAutoStartReceiver"
            android:process=":watch">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <service android:name="com.lib.bandaid.service.dog.HomeService$WorkNotificationService" />

        <service
            android:name="com.lib.bandaid.service.dog.SnapService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":watch" />

        <service
            android:name="com.lib.bandaid.service.dog.DogService"
            android:process=":watch" />

        <service
            android:name="com.lib.bandaid.service.dog.DogService$WatchDogNotificationService"
            android:process=":watch" />
        <!--看门狗服务-->

        <!--*****************************************第三方**************************************-->
        <!--高德导航-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="60668cab8bbeca85042ab25761e21766" />
        <service android:name="com.amap.api.location.APSService" />
        <activity
            android:name="com.amap.api.navi.AmapRouteActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <!--腾讯更新-->
        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />
        <!--*****************************************第三方**************************************-->

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>